.cart-no {
  position: absolute;
  min-height: 1.5rem;
  min-width: 1.5rem;
  border-radius: 50%;
  background: #0000ff;
  color: #ffffff;
  top: -12px;
  right: 32px;
  text-align: center;
  font-size: .9375rem;
}

a {
  text-decoration: none;
  color: #343a40;
  
  &.active {
    color: rgb(219, 149, 18);
  }
}

.logo {
  cursor: pointer;
}